<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Weed PRO 2014{% endblock %}</title>
</head>
<!-- Include Twitter Bootstrap & jQuery -->
<script src="https://code.jquery.com/jquery.js"></script>
{% load staticfiles %}
{% load bootstrap_themes %}
{% bootstrap_styles theme='default' type='css' %}
{% bootstrap_script use_min=False %}
<!-- Include the plugin's CSS & JS -->
<script type="text/javascript" src="{% static "weedpro/js/bootstrap-multiselect.js" %}"></script>
<link rel="stylesheet" href="{% static "weedpro/css/bootstrap-multiselect.css" %}" type="text/css"/>
<body>
{% block body %}
{% endblock %}
</body>
</html>
